<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2022/05/03/20/09/prague-7172594_1280.jpg" alt="Card image cap">

        <div class="card-img-overlay">
          <div class="text-bg-success" style="width: fit-content; border-radius: 10%;">
            <h5 class="card-title">{{destino?.nombre}}</h5>
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">Ejemplo que muestra una imagen fija con un nombre tecleado por el usuario <strong>({{destino?.nombre}})</strong></p>
          <a href="#" class="btn btn-primary">Detalles</a>
        </div>
      </div>